#mainNav {
  background-color: rgba(0,0,0,0.49) !important;
}

@media (max-width: 580px) {
  #contact {
    background-size: 190%;
  }
}

@media (min-width: 581px) {
  #contact {
    background-size: cover;
  }
}
